footer{
    background-color: lightblue;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-in-lower{
    width: 100%;
    padding: 0.8rem;
    text-align: center;
    cursor: pointer;
}
.footer-in-lower p{
    font-size: 1rem;
    font-weight: 400;
}
.footer-in-lower a{
    text-decoration: none;
    color: black;
}